@charset "ISO-8859-1";
.info {
	background-image: url("/images/menu-background.jpg");
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 25px 50px 50px;
	display: grid;
	grid-template-area: "map dishinfo";
	padding: 10px;
}
#map {
	border: solid green 5px;
	grid-area: "map";
}
.dishinfo {
	border: solid blue 5px;
	font-weight: 800;
	grid-area: "dishinfo";
}

