body, html {
    height: 100%;
    margin: 0;
    font-family: 'Signika', sans-serif;
    background-image: url("/images/bg.jpg");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 20% 20% 20%; 
    border-style: solid;
    border-color: red;
    margin: -10px;
}

.logo {
	height: 450px;
	width: 450px;	
    margin: auto;
    grid-column: 5/8;
    grid-row: 2;
    border-style: solid;
    border-color: purple;
    align-items: center;
}

.dishImage {
	grid-column: 5/8;
    grid-row: 2;
    border-style: solid;
    border-color: green;
    margin: auto;
    align-items: center;
}

/*start*/
.start {
  grid-column: 6/8;
  grid-row: 4;
  border-radius: 4px;
  background-color: #323339;
  border: white solid;
  color: #dfe2d2;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
}

.start span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.start span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #f2ad9f;
}

.start:hover span{
  padding-right: 25px;
}

.start:hover span:after{
  opacity: 1;
  right: 0;
}

/*liked*/
.liked {
	grid-column: 4;
  	grid-row: 2;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
.liked {
    background-color: #dfe2d2;
    color: #6cbf84;
    border: 2px solid #6cbf84;
}

.liked:hover {
background-color: #6cbf84;
color: #dfe2d2;
}

/*disliked*/
.disliked {
	grid-column: 9/10;
  	grid-row: 2;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;	
    display: inline-block;
    font-size: 16px;
    margin: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.disliked {
    background-color: #f2ad9f;
    color: #f26968;
    border: 2px solid #f26968;
}

.disliked:hover {
background-color: #f26968;
color: #f2ad9f;
}

/*showMore*/

.nextdish {
  grid-column: 9/10;
  grid-row: 1;
  border-radius: 4px;
  background-color: #323339;
  border: none;
  color: #dfe2d2;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
}

.nextdish span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextdish span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #f2ad9f;
}

.nextdish:hover span{
  padding-right: 25px;
}

.nextdish:hover span:after{
  opacity: 1;
  right: 0;
}
/*Info div*/

.info {
	background-image: url("/images/menu-background.jpg");
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 25px 50px 50px;
	padding: 10px;
	grid-column: 5/8;
    grid-row: 2;
    font-weight: 800;
}
