body, html {
    height: 100%;
    margin: 0;
    font-family: 'Signika', sans-serif;
    background-image: url("/images/bg.jpg");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.grid {
     display: grid;
	 grid-template-columns: 33% 33% 33%;
}

.logo {
	height: 450px;
	width: 450px;	
    margin: auto;
    grid-column: 2 / 3;
    align-items: center;
}

.dishImage {
	grid-column: 2 / 3;
	grid-row: 3;
    margin: auto;
    align-items: end;
    padding-top: 5px;
}

.start {
  grid-column: 2 / 3;
  border-radius: 4px;
  background-color: #323339;
  border: white solid;
  color: #dfe2d2;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.start span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #f2ad9f;
}

.start:hover span{
  padding-right: 25px;
}

.start:hover span:after{
  opacity: 1;
  right: 0;
}

.liked {
	grid-column: 1;
	grid-row: 3;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.liked {
    background-color: #dfe2d2;
    color: #6cbf84;
    border: 2px solid #6cbf84;
}

.liked:hover {
background-color: #6cbf84;
color: #dfe2d2;
}

.disliked {
	grid-column: 3;
  	grid-row: 3;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;	
    display: inline-block;
    font-size: 16px;
    margin: auto;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.disliked {
    background-color: #f2ad9f;
    color: #f26968;
    border: 2px solid #f26968;
}

.disliked:hover {
background-color: #f26968;
color: #f2ad9f;
}

.nextdish {
  border-radius: 4px;
  background-color: #323339;
  border: none;
  color: #dfe2d2;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nextdish span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextdish span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #f2ad9f;
}

.nextdish:hover span{
  padding-right: 25px;
}

.nextdish:hover span:after{
  opacity: 1;
  right: 0;
}


.modal-box {
    background-color: #DFE2D2;
    color: #323339;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 	margin: 25px 50px 50px;
	padding: 10px;
    font-weight: 800;
    border: solid;
	border-color: #F26968;
	border-radius: 15px;
}

.modal-box a:link {
    color: #F26968;
}

.modal-box a:visited {
	color: #323339;
}

.phoneImg {
	height: 30px;
	width: 30px;
}

.deliveryImg {
	width: 50px;
}

.end {
	text-align: center;
	 font-size: 50px;
}

.info {
	position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}