<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dinndr Slider</title>
    <link rel="stylesheet" type="text/css" href="/css/styleslideshow.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="/js/slideshow.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>DINNDR</h1>
      <div class="slider-outer">
        <img src="/images/arrow-left.png" class="prev" alt="Prev" />
        <div class="slider-inner">
          <img src="/images/tg-tandoorplatter.jpg" class="active" alt="Tandoor Platter" />
          <img src="/images/tg-goatchops.jpg" alt="Goat Chops" />
          <img src="/images/tg-chana-masala.jpg" alt="Drift Stuff" />
          <img src="/images/tg-kebab-wrap.jpg" alt="Kebab Wrap" />
          <img src="/images/tg-ras-malai.jpg" alt="Ras Malai" />
          <img src="/images/cc-chips.jpg" alt="Chips" />
          <img src="/images/cc-meatloaf.jpg" alt="Meatloaf" />
          <img src="/images/cc-porkchops.jpg" alt="Porkchops" />
          <img src="/images/cc-chicken.jpg" alt="Parm Chicken" />
          <img src="/images/cc-chocolatecake.jpg" alt="Chololate Cake" />
          <img src="/images/ray-half-slab-smoked-st-louis-cut-spare-ribs.jpg" alt="Spare Ribs" />
          <img src="/images/ray-jerk-chicken.jpg" alt="Jerk Chicken" />
          <img src="/images/ray-beef-brisket.jpg" alt="Beef Brisket" />
          <img src="/images/ray-scratch-mac-n-cheese.jpg" alt="Scratch Mac N' Cheese" />
          <img src="/images/ray-banana-pudding.jpg" alt="Banana Pudding" />
          <img src="/images/harvest-spicyyuma.jpg" alt="Spicy Yuma" />
          <img src="/images/harvest-pimento.jpg" alt="Pimento" />
          <img src="/images/harvest-margherita.jpg" alt="Margherita Pizza" />
        </div>
        <img src="/images/arrow-right.png" class="next" alt="Next" />
      </div>
    </div>
  </body>
</html>