<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dinndr Slider</title>
    <link rel="stylesheet" type="text/css" href="/css/styleslideshow.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="/js/slideshow.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>DINNDR</h1>
      <div class="slider-outer">
        <img src="/images/arrow-left.png" class="prev" alt="Prev" />
        <div class="slider-inner">
        	<div id="viewNextImage"></div>
          <img src="/images/tg-tandoorplatter.jpg" class="active" alt="Tandoor Platter" />
         
        </div>
        <img src="/images/arrow-right.png" class="next" alt="Next" />
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
   	<script src="js/main.js"></script>
  </body>
</html>